
# Python
__pycache__/
!__pycache__/
__pycache__/*
!__pycache__/app.cpython-311.pyc
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment files
.env
.flaskenv

# Database
*.db
*.sqlite3

# Generated backups
static/uploads/_system_backups/
backups/

# Logs
*.log

# Vendor
node_modules/
dist/
build/
